        <footer>
            <section>
                <h2>Archief</h2>
                <p>Bekijk nieuwsartikelen uit voorgaande jaren</p>
            </section>
            <div>
                <a class="edition" href="">2023</a>
                <a class="edition" href="">2024</a>
            </div>
        </footer>
    </body>
</html>