{% render 'partials/head.liquid' %}

{% render 'partials/menu.liquid' %}

<section class="grid-container">
    <article class="test-news">
        {% if story.cover.id %}
            <img src="https://fdnd-agency.directus.app/assets/{{ story.cover.id }}" alt="">
        {% else %}
            <img src="/afbnotfound.svg" alt="Geen afbeelding beschikbaar">
        {% endif %}

        {% if story.target_group %}
            <p class="target">{{ story.target_group }}</p>
        {% else %}
            <p class="target">jong & oud</p>
        {% endif %}
        <h1>{{ story.title }}</h1>
        <p>{{ story.body }}</p>
    </article>
</section>

{% render 'partials/foot.liquid' %}