{% render 'partials/head.liquid' %}

{% render 'partials/menu.liquid' %}

<article>
    <img src="/afbnotfound.svg" alt="">
    <p>Wijkpartners</p>
    <h1>De Buurtcampus in drie vragen: een korte gids</h1>
    <em>De Buurtcampus is een leeromgeving van de Hogeschool van Amsterdam in samenwerking met de Openbare Bibliotheek van Amsterdam. Drie Buurtcampussen in verschillende stadsdelen - Zuidoost, Nieuw-West en Oost - richten zich op actuele uitdagingen in de wijken van Amsterdam.</em>

    <strong>Versterken en verbinden</strong>
    <P>Het weekprogramma van de Buurtcampus in Nieuw-West is divers: de Wegwijssalon helpt bezoekers met welke vraag dan ook; het Taalcafé stimuleert het oefenen van de Nederlandse taal; Hulp bij digitaal helpt - zoals de titel al zegt - buurtbewoners digitaal vaardiger te worden. HvA-studenten van verschillende studierichtingen ondersteunen bewoners door hun kennis, opgedaan in de collegebanken, in de praktijk te brengen. Dat is geen éénrichtingsverkeer: de studenten leren op hun beurt veel van de bewoners zelf en zien zo op de Buurtcampus met eigen ogen wat werkt - en wat niet.</p>
</article>

{% render 'partials/foot.liquid' %}