{% render 'partials/head.liquid', page: page %}

{% render 'partials/menu.liquid' %}

<h1>Oost</h1>
<form action="/zoeken" method="GET">
    <input type="search" id="searchbar" name="search" placeholder="Zoek in nieuws..." autocomplete="off">
</form>

<div class="sort-filter-container">
    <details>
        <summary><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sliders-horizontal-icon lucide-sliders-horizontal"><path d="M10 5H3"/><path d="M12 19H3"/><path d="M14 3v4"/><path d="M16 17v4"/><path d="M21 12h-9"/><path d="M21 19h-5"/><path d="M21 5h-7"/><path d="M8 10v4"/><path d="M8 12H3"/></svg><span>Filter</span></summary>
        <ul>
            <li class="sort-list"><a href="/oost-doelgroep-wijkpartner">Wijkpartner</a></li>
            <li class="sort-list"><a href="/algemeen-nieuws-oud-nieuw">Oud-nieuw</a></li>
        </ul>
    </details>

    <details>
        <summary><span>Sorteer artikelen</span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down-icon lucide-chevron-down"><path d="m6 9 6 6 6-6"/></svg></summary>
        <ul>
            <li class="sort-list"><a href="/algemeen-nieuws-nieuw-oud">Nieuw-oud</a></li>
            <li class="sort-list"><a href="/algemeen-nieuws-oud-nieuw">Oud-nieuw</a></li>
        </ul>
    </details>
</div>

{% render 'partials/story.liquid', stories: stories %}

{% render 'partials/foot.liquid' %}